* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: lavender;
    min-height: 100vh;
    height: 100%;
}

.title{
    text-align: center;
    padding-top: 50px;
    color: rgb(211, 24, 24);
}
.container {
    background-color: rgba(0, 0, 0, 0.267);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    position: relative;
}


/* End global  */





/* start the form tag  */

.search {
    position: relative;
    display: flex;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    color: black;
}

.search input[type="text"] {
    width: 70%;
    margin: 0 auto;
    background: white;
    margin-top: 0.7rem;
    transform: scale(1);
    transition: width 0.7s;
    height: 4em;
    font-size: 1em;
    padding: 0.8em;
    position: absolute;
    left: 20px;
}

.search input[type="text"],
.list_item {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: none;
    border: none;
}

.listDiv{
    
    position: absolute;
    top: 75px;
    left: 20px;
    width: 80%;
    margin-bottom: 100px; 
}

.listUl{
    position: relative;
    list-style-type:none ;
    width: 88%;
    left: 0;

}
.listLi{
    cursor: pointer;
    padding: 8px 10px;
    
}
.listLi:nth-child(even){
    background: #817778;
}

.listLi:nth-child(odd){
    background: rgb(175, 175, 154);
}

/* end the form  */


/* start button  */

.addbutton {
    position: absolute;
    right: 15px;
    display: inline-block;
    padding: 0.7rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    margin: 1.25rem auto;
    font-size: 14px;
    background-color: #ff6a80;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px 0 #a25561;
    font-weight: 700;
    background-repeat: no-repeat;
    background-position: 200px;
    font-size: 1.1em;
}

.addbutton:hover {
    background-color: #ff566f;
    cursor: pointer
}

/* end button  */

.resultSearch{
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.resultSearch [class="name"]{
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
}

.resultSearch img{
    margin: 30px 0;
}